<main>
    <section>
    <h1>Buchungsanfrage senden</h1>
    <article class="column">
        <p>Wir freuen uns, dass Sie sich für einen Aufenthalt im Haus Erath interessieren! 
        <p>Um eine Buchungsanfrage zu senden, nutzen Sie bitte unser Online-Formular oder kontaktieren Sie uns direkt per E-Mail oder Telefon. </p>
        <p>Geben Sie Ihren gewünschten Reisezeitraum sowie die Anzahl der Gäste an. Wir werden uns umgehend mit Ihnen in Verbindung setzen, um Ihre Buchung zu bestätigen und weitere Details zu besprechen.</p>
        <P>Wir freuen uns darauf, Sie bald bei uns begrüßen zu dürfen!</P>
            Eingabefelder: Vorname, Nachname, E-Mail, Telefonnummer, Land, Von, Bis, Anzahl Personen
            Kontakt: E-Mail: info@hauserath.de Telefon: +49 123 456789</p>
    </article>
     </section>
</main>