<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <a id="top"></a>
<div class="hero hero-ferienwohnung">
        <div class="overlay"></div>
        <img src="img/logo_white.png" alt="Logo" class="logo">
        <div class="button-container">
            <a href="index.html" class="nav-button">
                <img src="img/Home.png" alt="Das Haus Icon" class="button-icon">
                <span>Das Haus</span>
            </a>
            <a href="ferienwohnung.html" class="nav-button pressed">
                <img src="img/Bed.png" alt="Die Ferienwohnung Icon" class="button-icon">
                <span>Die Ferienwohnung</span>
            </a>
            <a href="Lage.html" class="nav-button">
                <img src="img/Location.png" alt="Die Lage und Attraktionen Icon" class="button-icon">
                <span>Die Lage und Attraktionen</span>
            </a>
        </div>
</div>
<section class="content-section">
    <div class="text-center">
        <h2>Die Ferienwohnung</h2>
        <p>Unsere liebevoll eingerichtete Ferienwohnung im Haus Erath bietet Ihnen alles, was Sie für einen erholsamen Aufenthalt benötigen. Der Wohnbereich mit integrierter Küche lädt zum gemeinsamen Kochen und Verweilen ein. Das separate Schlafzimmer sorgt für erholsame Nächte, während das große Badezimmer mit Badewanne Entspannung pur bietet. Genießen Sie den herrlichen Ausblick vom Balkon und lassen Sie die Seele baumeln. Die Wohnung ist modern und komfortabel ausgestattet, sodass Sie sich rundum wohlfühlen können. Willkommen im perfekten Urlaubszuhause!</p>
        <a href="mailto:hauserath@gmail.com" class="mail-button">Buchungsanfrage senden</a>

    </div>
    <div class="image-text">
        <img src="img/Bad.jpg" alt="Location">
        <div class="text">
            <h2>Entspannendes Badezimmer</h2>
            <p>Genießen Sie Momente der Ruhe und Entspannung in unserem großzügigen Badezimmer. Ausgestattet mit einer modernen Badewanne, stilvollen Armaturen und viel Platz, bietet es den perfekten Rückzugsort nach einem langen Tag voller Entdeckungen.</p>
        </div>
    </div>
</section>  
<section>
    <div class="image-text">
        <img src="img/Küche.jpg" alt="House">
        <div class="text">
            <h2>Voll ausgestattete Küche</h2>
            <p>Kochen Sie Ihre Lieblingsgerichte in unserer modernen Küche. Ausgestattet mit allen notwendigen Geräten und viel Arbeitsfläche, ist sie ideal für gemütliche Kochabende oder ein schnelles Frühstück vor Ihren Abenteuern rund um den Bodensee.</p>
        </div>
    </div>
</section>
<section>
    <div class="image-text">
        <img src="img/Schlafen, Büro.jpg" alt="House">
        <div class="text">
            <h2>Komfortables Schlafzimmer</h2>
            <p>Erleben Sie erholsame Nächte in unserem gemütlichen Schlafzimmer. Das komfortable Doppelbett, die ruhige Atmosphäre und die stilvolle Einrichtung sorgen dafür, dass Sie jeden Morgen erfrischt und bereit für neue Erlebnisse aufwachen.</p>
        </div>
    </div>
</section>
<section>
    <div class="image-text">
        <img src="img/FeWo Grundriss DG.jpg" alt="House">
        <div class="text">
            <h2>Überblick und Details: Der Grundriss</h2>
            <p>Verschaffen Sie sich einen Überblick über die durchdachte Raumaufteilung unserer Ferienwohnung. Der Grundriss zeigt die geschmackvolle Gestaltung und die praktische Anordnung der Räume, die für maximalen Komfort und eine einladende Atmosphäre sorgen.</p>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="text-center">
        <h2>Interesse geweckt?</h2>
        <p>Senden Sie uns eine Buchungsanfrage per Mail mit allen Angaben zur Personenzahl und dem Zeitraum und wir melden uns schnellstmöglich zurück.</p>
<a href="mailto:hauserath@gmail.com" class="mail-button">Buchungsanfrage senden</a>
    </section>  
   
    <footer>
        Weitere Informationen
        <ul>
            <li><a href="hyperlinks.html">Kontakt</a></li>
            <li><a href="hyperlinks.html">Impressum</a></li>
            <li><a href="hyperlinks.html">Datenschutz</a></li>
        </ul>
    </footer>
</body>
</html>
