<main>
    <section>
    <h1>Die Ferienwohnung</h1>
    <article class="column">
        <p>Unsere liebevoll eingerichtete Ferienwohnung im Haus Erath bietet Ihnen alles, was Sie für einen erholsamen Aufenthalt benötigen. 
         <p>Der Wohnbereich mit integrierter Küche lädt zum gemeinsamen Kochen und Verweilen ein.</p>
         <p>Das separate Schlafzimmer sorgt für erholsame Nächte, während das große Badezimmer mit Badewanne Entspannung pur bietet. </p>
         Genießen Sie den herrlichen Ausblick vom Balkon und lassen Sie die Seele baumeln. Die Wohnung ist modern und komfortabel ausgestattet, sodass Sie sich rundum wohlfühlen können. Willkommen im perfekten Urlaubszuhause!
    </article>
     </section>
</main>