<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <a id="top"></a>
    <div class="hero">
        <div class="overlay"></div>
        <img src="img/logo.png" alt="Logo" class="logo">

            <div class="button-container">
                <a href="Ferienwohnung.html" class="nav-button">
                    <i class="fas fa-check button-icon"></i>  
                    <img src="img/Bed.png" alt="Icon" class="button-icon">
                    <span>Die Ferienwohnung</span>
                </a>
                <a href="Lage.html" class="nav-button">
                    <i class="fas fa-check button-icon"></i>  
                    <img src="img/Location.png" alt="Icon" class="button-icon">
                    <span>Die Lage und Attraktionen</span>
                </a>
                <a href="Buchungsanfrage.html" class="nav-button">
                    <i class="fas fa-check button-icon"></i>  
                    <img src="img/Location.png" alt="Icon" class="button-icon">
                    <span>Buchungsanfrage senden</span>
                </a>
            </div>
    
           
       
    </nav>
    <header>
        </div
    </header>
    <main>
        <section>
        <h1>Willkommen im Haus Erath</h1>
        <article class="column">
            <p>Erleben Sie einen unvergesslichen Aufenthalt im Haus Erath, Ihrer Ferienwohnung im wunderschönen Deggenhausertal. 
            <p>Umgeben von der atemberaubenden Natur des Bodensees bietet unser Haus eine Oase der Ruhe und Erholung. </p>
            <p>Genießen Sie die herrliche Aussicht, entspannen Sie sich in der gemütlichen und komfortablen Atmosphäre und nutzen Sie die vielfältigen Freizeitmöglichkeiten in der Umgebung. </p>
            <p>Ob Wanderungen, Radtouren oder ein Besuch am Bodensee – im Haus Erath finden Sie den perfekten Ausgangspunkt für Ihre Aktivitäten. Wir freuen uns auf Ihren Besuch!</p>
        </article>
         </section>
    </main>
    <footer>
        Weitere Informationen
        <ul>
            <li><a href="hyperlinks.html">Kontakt</a></li>
            <li><a href="hyperlinks.html">Impressum</a></li>
            <li><a href="hyperlinks.html">Datenschutz</a></li>
        </ul>
    </footer>
</body>
</html>