
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <a id="top"></a>
<div class="hero">
    <div class="overlay"></div>
    <img src="img/logo_white.png" alt="Logo" class="logo">
    <div class="button-container">
        <a href="Ferienwohnung.html" class="nav-button">
            <i class="fas fa-check button-icon"></i>  
            <img src="img/Bed.png" alt="Icon" class="button-icon">
            <span>Die Ferienwohnung</span>
        </a>
        <a href="Lage.html" class="nav-button">
            <i class="fas fa-check button-icon"></i>  
            <img src="img/Location.png" alt="Icon" class="button-icon">
            <span>Die Lage und Attraktionen</span>
        </a>
        <a href="Buchungsanfrage.html" class="nav-button">
            <i class="fas fa-check button-icon"></i>  
            <img src="img/Location.png" alt="Icon" class="button-icon">
            <span>Buchungsanfrage senden</span>
        </a>
    </div>
</div>
<section class="content-section">
    <div class="text-center">
        <h2>Willkommen im Haus Erath</h2>
        <p>Erleben Sie einen unvergesslichen Aufenthalt im Haus Erath, Ihrer Ferienwohnung im wunderschönen Deggenhausertal. Umgeben von der atemberaubenden Natur des Bodensees bietet unser Haus eine Oase der Ruhe und Erholung. Genießen Sie die herrliche Aussicht, entspannen Sie sich in der gemütlichen und komfortablen Atmosphäre und nutzen Sie die vielfältigen Freizeitmöglichkeiten in der Umgebung. Ob Wanderungen, Radtouren oder ein Besuch am Bodensee – im Haus Erath finden Sie den perfekten Ausgangspunkt für Ihre Aktivitäten. Wir freuen uns auf Ihren Besuch!</p>
    </div>
    <div class="image-text">
        <img src="img/Hausansicht.jpg" alt="House">
        <div class="text">
            <h2>Die Ferienwohnung</h2>
            <p>Unsere liebevoll eingerichtete Ferienwohnung im Haus Erath bietet Ihnen alles, was Sie für einen erholsamen Aufenthalt benötigen. Der Wohnbereich mit integrierter Küche lädt zum gemeinsamen Kochen und Verweilen ein. Das separate Schlafzimmer sorgt für erholsame Nächte, während das große Badezimmer mit Badewanne Entspannung pur bietet. Genießen Sie den herrlichen Ausblick vom Balkon und lassen Sie die Seele baumeln. Die Wohnung ist modern und komfortabel ausgestattet, sodass Sie sich rundum wohlfühlen können. Willkommen im perfekten Urlaubszuhause!</p>
        </div>
    </div>
</section>  
           
   
    <footer>
        Weitere Informationen
        <ul>
            <li><a href="hyperlinks.html">Kontakt</a></li>
            <li><a href="hyperlinks.html">Impressum</a></li>
            <li><a href="hyperlinks.html">Datenschutz</a></li>
        </ul>
    </footer>
</body>
</html>
