<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="index.css" rel="stylesheet"/>
</head>
<body>
    <a id="top"></a>
    <nav class="navigation">
            <a  href="index.html"><img class="logo" src="Bilder/Logo.svg" alt="Logo"></a>     
        <ul class="nav_links">
            <li ><a class="roboto-bold" href="Ferienwohnung.html">Die Ferienwohnung</a></li>
            <li ><a class="roboto-bold" href="Lage.html">Die Lage und Attraktionen</a></li>
            <li ><a class="roboto-bold" href="Buchungsanfrage.html">Buchungsanfrage senden</a></li>
        </ul>
    </nav>
    <header>
        <p> 
             <img src="img/Hausansicht.jpg" style="height: 100px;">
         </p>
    </header>
    <main>
        <section>
        <h1>Willkommen im Haus Erath</h1>
        <article class="column">
            <p>Erleben Sie einen unvergesslichen Aufenthalt im Haus Erath, Ihrer Ferienwohnung im wunderschönen Deggenhausertal. 
            <p>Umgeben von der atemberaubenden Natur des Bodensees bietet unser Haus eine Oase der Ruhe und Erholung. </p>
            <p>Genießen Sie die herrliche Aussicht, entspannen Sie sich in der gemütlichen und komfortablen Atmosphäre und nutzen Sie die vielfältigen Freizeitmöglichkeiten in der Umgebung. </p>
            <p>Ob Wanderungen, Radtouren oder ein Besuch am Bodensee – im Haus Erath finden Sie den perfekten Ausgangspunkt für Ihre Aktivitäten. Wir freuen uns auf Ihren Besuch!</p>
        </article>
         </section>
    </main>
    <footer>
        Weitere Informationen
        <ul>
            <li><a href="hyperlinks.html">Hyperlinks</a></li>
            <li>Text</li>
        </ul>
    </footer>
</body>
</html>