<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <a id="top"></a>
<div class="hero hero-lage">
    <div class="overlay"></div>
    <img src="img/logo_white.png" alt="Logo" class="logo">
    <div class="overlay"></div>
    <img src="img/logo_white.png" alt="Logo" class="logo">
    <div class="button-container">
        <a href="index.html" class="nav-button">
            <img src="img/home_outline.svg" alt="Das Haus Icon" class="button-icon">
            <span>Das Haus</span>
        </a>
        <a href="Ferienwohnung.html" class="nav-button">
            <img src="img/double-bed-icon.svg" alt="Die Ferienwohnung Icon" class="button-icon">
            <span>Die Ferienwohnung</span>
        </a>
        <a href="Lage.html" class="nav-button pressed">
            <img src="img/maps-pin-line-icon.svg" alt="Die Lage und Attraktionen Icon" class="button-icon">
            <span>Die Lage und Attraktionen</span>
        </a>
    </div>
    
</div>
<section class="content-section">
    <div class="text-center">
        <h2>Die Lage und Attraktionen</h2>
        <p>Das Haus Erath liegt im malerischen Deggenhausertal und bietet den idealen Ausgangspunkt, um die vielfältigen Sehenswürdigkeiten der Region zu entdecken.</p>
        <a href="mailto:hauserath@gmail.com" class="mail-button">Buchungsanfrage senden</a>

    </div>
    <div class="image-text">
        <img src="img/markdorf.jpeg" alt="Location">
        <div class="text">
            <h2>Markdorf </h2>
            <p>Entdecken Sie die charmante Altstadt von Markdorf mit ihren historischen Fachwerkhäusern und dem imposanten Hexenturm. Schlendern Sie durch die gemütlichen Gassen und genießen Sie regionale Spezialitäten in den örtlichen Cafés und Restaurants.</p>
        </div>
    </div>
    <div class="image-text">
        <img src="img/mainau.jpg" alt="House">
        <div class="text">
            <h2>Insel Mainau</h2>
            <p>Die Blumeninsel im Bodensee ist ein Paradies für Pflanzenliebhaber. Erleben Sie die beeindruckende Blumenpracht, exotische Pflanzen und das prachtvolle Barockschloss. Ein Highlight für die ganze Familie sind die Schmetterlingshäuser und der Abenteuerspielplatz.</p>
        </div>
    </div>
    <div class="image-text">
        <img src="img/Konstanz.jpg" alt="House">
        <div class="text">
            <h2>Konstanz</h2>
            <p>Die historische Stadt am Bodensee bietet zahlreiche Sehenswürdigkeiten, darunter das berühmte Konstanzer Münster, das Sealife Konstanz und das Archäologische Landesmuseum. Flanieren Sie entlang der Uferpromenade und genießen Sie den Blick auf den Bodensee.</p>
        </div>
    </div>
</section>


<section class="content-section">
    <div class="text-center">
        <h2>Unvergessliche Momente warten auf Sie!</h2>
        <p>Von der zentralen Lage des Haus Erath aus erreichen Sie diese und viele weitere Attraktionen schnell und bequem. Freuen Sie sich auf abwechslungsreiche Ausflüge und unvergessliche Erlebnisse!</p>
<a href="mailto:hauserath@gmail.com" class="mail-button">Buchungsanfrage senden</a>
    </section>  


   
    <footer>
        <ul class="footer-links">
            <li><a href="#kontakt">Kontakt</a></li>
            <li><a href="#impressum">Impressum</a></li>
            <li><a href="#datenschutz">Datenschutz</a></li>
        </ul>
        <p class="copyright">&copy; 2024 Dein Firmenname. Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>
