/* Basis-Styling für alle Elemente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

/* Hero-Sektion */
.hero {
  position: relative;
  background-image: url('img/Hausansicht.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh; /* Vollbildhöhe */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-ferienwohnung,
.hero-lage,
.hero-buchungsanfrage {
  background: no-repeat center center/cover;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  z-index: 1;
}

.hero img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 150px;
  z-index: 2;
}

.hero .button-container {
  margin-top: 150px;
  z-index: 2;
  display: flex;
  gap: 20px;
}

/* Navigation Button */
.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-button.pressed {
  background-color: white;
  color: black;
}

.nav-button.pressed img {
  filter: invert(1);
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

/* Hero Titel */
.hero h1 {
  position: relative;
  z-index: 2;
  font-size: 3em;
  margin-top: 20px;
}

/* Content Section */
.content-section {
  padding: 50px 300px; /* Standard Padding */
  text-align: center;
}

/* Text-Center-Styling */
.text-center {
  margin-bottom: 50px;
}

.text-center h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.text-center p {
  font-size: 1em;
  color: #555;
}

/* Bild-Text-Layout */
.image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
  padding: 20px;
  flex-wrap: wrap;
}

.image-text img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  flex: 1;
  max-width: 50%;
}

.image-text .text {
  max-width: 50%;
  flex: 1;
}

.image-text .text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.image-text .text p {
  font-size: 1em;
  color: #555;
}

/* Medienabfrage für kleinere Bildschirme */
@media (max-width: 1300px) {
  .content-section {
    padding: 50px; /* Kein Padding auf kleinen Bildschirmen */
  }

  .image-text {
    flex-direction: column;
    text-align: center;
  }

  .image-text img,
  .image-text .text {
    max-width: 100%;
    flex: none;
  }

  .image-text img {
    margin-bottom: 20px;
  }
}

/* Footer Styling */
footer {
  background-color: #f9f9f9;
  color: #333333;
  padding: 20px;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  border-top: 1px solid #e0e0e0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 10px;
  font-size: 0.8em;
  color: #666666;
}

/* Mail-Button */
.mail-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
  margin-top: 20px;
}

.mail-button:hover {
  background-color: rgb(125, 125, 125);
  color: rgb(255, 255, 255);
}
