main {
    color:blueviolet;
}
h1 {
    color:cornflowerblue;
}

footer {
    color:sienna;
}

.my-button {
    background-color: #4CAF50; /* Grün */
    border: none; /* Kein Rand */
    color: white; /* Weißer Text */
    padding: 15px 32px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block-Level */
    font-size: 16px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand */
    cursor: pointer; /* Zeiger-Cursor */
    border-radius: 8px; /* Abgerundete Ecken */
    transition: background-color 0.3s ease; /* Übergangseffekt */
}

/* Hover-Effekt */
.my-button:hover {
    background-color: #45a049; /* Dunkleres Grün */
}