.button-container {
    display: flex; /* Flexbox für die horizontale Ausrichtung */
    flex-wrap: wrap; /* Zeilenumbruch für die Responsivität */
    justify-content: center; /* Zentrieren der Buttons horizontal */
    gap: 10px; /* Abstand zwischen den Buttons */
    padding: 20px; /* Innenabstand des Containers */
}

.nav-button {
    background-color: #b490902b; /* Grün */
    border: none; /* Kein Rand */
    color: rgb(0, 0, 0); /* Weißer Text */
    padding: 15px 32px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung */
    display: flex; /* Flexbox */
    flex-direction: column; /* Vertikale Ausrichtung */
    align-items: center; /* Zentrieren */
    font-size: 16px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand */
    cursor: pointer; /* Zeiger-Cursor */
    border-radius: 8px; /* Abgerundete Ecken */
    transition: background-color 0.3s ease; /* Übergangseffekt */
}

.nav-button:hover {
    background-color: #a7a7a7;
}

.button-icon {
    margin-bottom: 8px; /* Abstand zum Text */
    font-size: 24px; /* Größe des Icons */
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(201, 199, 223);
    }
  }
@media only screen and (min-width: 601px) {
    body {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }
  }
  